.NE-vert-pages {
    position: relative;
}

.NE-vert-page-navbar {
    background-color: white;
}


.NE-vert-page-icons {
    text-align: center;
}

    .NE-vert-page-icons .icon {
        font-size: 16px;
        line-height: 80px;
        margin: 0px 6px 24px 0px;
    }

        .NE-vert-page-icons .icon:before {
            font-family: "FontAwesome";
            content: '\f10c';
            color: #c0c0c0;
        }

        .NE-vert-page-icons .icon.active:before {
            font-family: "FontAwesome";
            content: '\f111';
            color: #808080;
        }

.NE-vert-page-nav {
    color: #808080;
    cursor: pointer;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

    .NE-vert-page-nav i {
        font-size: 40px;
        line-height: 80px;
        text-align: center;
    }

    .NE-vert-page-nav:hover {
        color: black;
    }

.NE-vert-page-next {
    right: 0px;
}

.NE-vert-page-prev {
    left: 0px;
}


.NE-vert-page-holder {
    overflow: hidden;
    -webkit-transition: height 0.3s linear;
    transition: height 0.3s linear;
}

.NE-vert-page {
    display: inline-block;
    float: left;
}

.NE-eq-height {
    position: relative;
    overflow: hidden;
    height: auto;
}

    .NE-eq-height .NE-eq-height-padder {
        background-color: transparent;
        width: 0px;
    }
