.NE-knowledgetest-q-panel {
    background-color: #fff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

@media (max-width: 768px) {
    .NE-knowledgetest-q-panel {
        border-top: none;
    }
}

.NE-knowledgetest-option-button {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px;
}

    .NE-knowledgetest-option-button .inner-text {
        display: inline-block;
        text-align: left;
    }

    .NE-knowledgetest-option-button.toggle.active {
        color: white;
        background-color: #c0c0c0;
        border-color: #808080;
    }

@media (max-width: 768px) {
    .NE-knowledgetest-option-button-holder {
        margin-top: 15px;
    }
}

.NE-knowledgetest-feedback {
    padding: 30px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
} 

    .NE-knowledgetest-feedback.negative {
        background-color: #ff9a98;
        color: #801a18;
        border-color: #801a18;
    }

    .NE-knowledgetest-feedback.warning {
        background-color: #ffd39a;
        color: #80541b;
        border-color: #80541b;
    }

    .NE-knowledgetest-feedback.neutral {
        background-color: #9dd1e8;
        color: #246480;
        border-color: #246480;
    }

    .NE-knowledgetest-feedback.positive {
        background-color: #a4d7ab;
        color: #2b6633;
        border-color: #2b6633;
    }
